body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url(../images/background.jpg);
    margin: 0;
    padding: 0;
}
header {
    background-color: #5f68a7;
    height: 50px;
}
header div {
    background-color: #5f68a7;
    width: 960px;
    margin: 0 auto;
    height: 50px;
}
header h1 {
    float: left;
    margin: 0 auto;
    background-color: #687fa4;
    height: 50px;
    padding: 4px 10px;
    box-sizing: border-box;
}
nav {
    float: right;
    padding-top: 15px;
}
nav a {
    padding-left: 15px;
    text-decoration: none;
}